.idea/.idea.ClientCodeFirst/.idea/indexLayout.xml
.idea/.idea.ClientCodeFirst/.idea/projectSettingsUpdater.xml
.idea/.idea.ClientCodeFirst/.idea/vcs.xml
.idea/.idea.ClientCodeFirst/.idea/workspace.xml
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46__Changes_.xml
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46__Changes_1.xml
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46_[Changes]/ClientCodeFirst.assets.cache
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46_[Changes]/project.nuget.cache
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46_[Changes]/shelved.patch
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46_[Changes]1/ClientCodeFirst.assets.cache
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46_[Changes]1/project.nuget.cache
.idea/.idea.ClientCodeFirst/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_23_11_46_[Changes]1/shelved.patch
./mysql-secret.yaml
mysql-secret.yaml
